//新規登録画面
.Body
  .Top
    = link_to '/'
      = image_tag"logo/logo.png", alt:"FURIMA", class: 'logo'
  .information
    %h2 新規会員登録
    %hr.Borderline
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .information__userField
        .field1
          = f.label :ニックネーム
          %br/
          = f.text_field :nickname, class: 'fields'
        .field2
          = f.label :メールアドレス
          %br/
          = f.email_field :email, class: 'fields'
        .field3
          = f.label :パスワード
          %span.form-require 
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", class: 'fields'
        .field4
          = f.label :パスワード（確認用）
          %br/
          = f.password_field :encrypted_password, autocomplete: "off", class: 'fields'
      

      .information__personField
        .field1
          = f.label :生年月日
          %span.form-require 必須
          %br/
          = f.date_field :birthday, class: 'input-person'
        .field2
          = f.label :お名前（全角）
          %span.form-require 必須
          %br/
          = f.text_field :last_name, class: 'input-person'
          = f.text_field :first_name, class: 'input-person'
          %br/
        .field3
          = f.label :お名前カナ（全角）
          %span.form-require 必須
          %br/
          = f.text_field :last_name_phonetic, class: 'input-person'
          = f.text_field :first_name_phonetic, class: 'input-person'
          %br/
      
      .information__adressField
        .field1
          = f.label :送付先お名前
          %span.form-require 必須
          %br/
          = f.text_field :send_last_name, class: 'input-person'
          = f.text_field :send_first_name, class: 'input-person'
          %br/
        .field2
          = f.label :送付先お名前カナ
          %span.form-require 必須
          %br/
          = f.text_field :send_last_name_phonetic, class: 'input-person'
          = f.text_field :send_first_name_phonetic, class: 'input-person'
          %br/
        .field3
          = f.label :郵便番号
          %span.form-require 必須
          %br/
          = f.number_field :postal_code, class: 'input-address'
        .field4
          = f.label :都道府県
          %span.form-require 必須
          %br/
          = f.text_field :prefectures, class: 'input-address'
        .field5
          = f.label :市町村
          %span.form-require 必須
          %br/
          = f.text_field :city, class: 'input-address'
        .field6
          = f.label :番地
          %span.form-require 必須
          %br/
          = f.text_field :address, class: 'input-address'
        .field7
          = f.label :マンション名ビル名
          %br/ 
          = f.text_field :condominuium_name, class: 'input-address'
        .field8
          = f.label :電話番号
          %br/
          = f.number_field :phone_number, class: 'input-address'
        .actions
          = f.submit "Sign up", class: 'submit'
  
  .Footer

