.side-content
  %nav.mypage-nav
    %h3.mypage-nav-head-setting 設定
    %ul.mypage-nav-list-setting
      %li
        = link_to "#" , class: "mypage-nav-list-setting-item" do
          プロフィール
      %li
        = link_to "#" , class: "mypage-nav-list-setting-item" do
          発送元・お届け先住所変更
      %li
        = form_tag(pay_credit_card_index_path, method: :post, class: "mypage-nav-list-setting-item") do
          %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "クレジットカード登録" ,"data-key" => "pk_test_9c125a68657dbbb541788e64",class: "mypage-nav-list-setting-item--font"}
      %li
        = link_to "#" , class: "mypage-nav-list-setting-item" do
          メール/パスワード
      %li
        = link_to "#" , class: "mypage-nav-list-setting-item" do
          本人情報
      %li
        = link_to "#" , class: "mypage-nav-list-setting-item" do
          電話番号の確認
      %li
        = link_to users_logout_path, class: "mypage-nav-list-setting-item" do
          ログアウト
          
