.Header
  .Header__inner
    .Topheader
      .Topheader__logo
        = link_to image_tag('logo/logo.png', id:"logo.png")
      .Topheader__searchBox
        %form{action: "#", method: "get"}
          %input{name: "utf8", type: "hidden", value: ""}/
          %input.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
          %form.button{action: "#", method: "post"}
            %button.button__to{type: "submit"}
              = image_tag 'icon/icon-search 1.png' ,alt: "serch"
          %input{name: "authenticity_token", type: "hidden"}/
    .Nav
      %ul.Productlist
        %li.Productlist__category
          = link_to 'カテゴリー', "#"
        %li.Productlist__brand
          = link_to 'ブランド', "#"
      - if user_signed_in?
        %ul.Userlist
          %li.Userlist__login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.Userlist__new
            = link_to  "マイページ", user_path(current_user), class: "post"
      - else
        %ul.Userlist
          %li.Userlist__login
            = link_to "ログイン", new_user_session_path, class: "post"
          %li.Userlist__new
            = link_to "新規登録", new_user_registration_path, class: "post"