.Wrapper
  .Top
    = render "header"
  .Buy_body
    .Check_purchase
      = @product.name
      の購入を確定しますか？
    .Product_info
      .Product_info__image
        = image_tag @product.product_images.first.image.url, size: "200x200"
      .Product_info__detail
        %table{ class: "Product_info__detail__table"}
          %tbody
            %tr
              %th{width: 140} 値段
              %td{width: 200}
                = @product.price
                円
            %tr
              %th カテゴリー
              %td 
                =@product.category.name  
            %tr
              %th 商品の状態
              %td 
                =@product.status
            %tr
              %th 配送料の負担
              %td
                =@product.shipping_expenses
            %tr
              %th 配送元地域
              %td
                =@product.send_from
            %tr
              %th 発送の目安
              %td 
                =@product.lead_time
      .Product_info__submit
        .Product_info__submit__Card_info
        - if @default_card_information.blank?
          %br /
        - else
          登録クレジットカード情報
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          有効期限：
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          = form_tag(action: :pay, method: :post) do
            %button{border: 1, class: "Product_info__submit__Card_info--btn"} 購入する 

