%h2 購入を確定しますか？
= @product.name
%br
= @product.price
%br
%h3 支払い方法
- if @default_card_information.blank?
  %br /
- else
  -#以下カード情報を表示
  = "**** **** **** " + @default_card_information.last4
  - exp_month = @default_card_information.exp_month.to_s
  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
  = exp_month + " / " + exp_year
%br
= form_tag(action: :pay, method: :post) do
  %button 購入する
-# .Body
-#   .Top
-#     = link_to image_tag("logo/logo.png", alt:"FURIMA", class: 'logo'), root_path
-#   .Buy-main 
-#     .Buy-main__buy-item
-#       .Buy-main__buy-item__head 購入内容の確認
-#       .Buy-item
-#         .Buy-item__image
-#           画像
-#         .Buy-item__details
-#           .Buy-item__details__title
-#             タイトル
-#           .Buy-item__details__money
-#             送料込み(税込)
-#       .Buy-content
-#         .Buy-content__box
-#           支払い金額
-#           .Buy-content
-#             .Buy-content__money
-#               金額
-#         .Buy-content__box
-#           支払方法
-#           .Buy-content
-#             .Buy-content__credit
-#               クレジット情報
-#               %br カード番号など
-#         .Buy-content__box
-#           配送先
-#           .Buy-content
-#             .Buy-content__postal-code
-#               郵便番号
-#             .Buy-content__address
-#             都道府県
-#             市町村
-#             番地
-#             マンション
-#             .Buy-content__name
-#               苗字
-#               名前
-#           = submit_tag("購入する", class:"Purchase-btn")
-# 上記コメントアウトは機能ベースで作ったビューに作成ずみの綺麗なビューを結合するため仮置き
