-# .main
-#   %section.main__block
-#     = form_with model:@product, local: true do |f|
-#       %h2.sell__block__head
-#         商品の情報を入力
-#       .sell__block__form
-#         .sell__block__form__upload
-#           %h3.sell__block__form__upload__head
-#             出品画像
-#             %span.require 必須
-#           %p 最大5枚までアップロードできます
-#           .post__drop__box__container
-#             .prev-content

-#               //JSで挿入したhtmlと同じ形 each文でのプレビュー表示
-#               - @product.product_images.each do |image|
-#                 .preview-box
-#                   .upper-box
-#                     = image_tag image.image.url, width: "112", height: "112", alt: "preview"
-#                   .lower-box
-#                     .update-box
-#                       %label{id: "label-box--image", class: "aaa", for: "product_images_attributes_image_image"} 編集
-#                     .delete-box
-#                       .delete-btn
-#                         %span 削除
-#             .label-content
-#               //プレビューの数に合わせてforオプションを指定
-#               = f.label :"product_images_attributes_#{@product.product_images.length}_image", class: "label-box", id: "label-box--#{@product.product_images.length}" do
-#                 %pre.label-box__text-visible クリックしてファイルをアップロード
-#             .hidden-content
-#               = f.fields_for :product_images do |i|

-#                 //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
-#                 = i.file_field :image, class: "hidden-field"
-#                 = i.check_box:_destroy, class: "hidden-checkbox"

-#                 //5つのfile_fieldを準備するに当たって、足りない分を表示
-#               - @product.product_images.length.upto(4) do |i|
-#                 %input{name: "product[product_images_attributes][#{i}][image]", id: "product_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
-#         .sell__block__form__name
-#           .form-group__name
-#             %label
-#               商品名
-#               %span.require 必須
-#             %div
-#               = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name"

-#         .sell__block__form__btn
-#           %div
-#             = f.submit "出品する",class: "btn-default__btn-red"

= render 'product_form'