- @products.each do |product|
  = product.name
  = product.price
  - product.product_images.each do |image|
    = image_tag image.image.url
  = product.order
.Top
  = render "header"
  = render "main"
  = render "bottomview_footer"
  = render "exhibition"
