#productEx
  .Main
    .Icon
      %a{href: "#"}
        = image_tag 'logo/logo.png', alt: "FURIMA"
      .Forms
        %form
        = form_with model: @product, local: true do |f|
          = render 'layouts/error_messages', model: f.object
          .Image
            .Image__label
              %label 出品画像
              %span 必須
            %p 最大10枚までアップロードできます
            #image-box
              = f.fields_for :product_images do |image|
                .js-file_group{"data-index" => "#{image.index}"}
                  = image.file_field :image, class: 'js-file'
                  %span.js-remove 削除
          %hr
          .Product__nameandexplanation
            .Product__name
              .Product__name--label
                %label 商品名
                = f.text_field :name
                %span 必須
            .Product__explanation
              .Product__explanation--label
                %label 商品の説明
                = f.text_field :description
                %span 必須
          %hr.Borderline
          .Product__details
            %p.Product__details--label 商品の詳細
            .Product__details--select-field
              %div{:name => "categoryId"}
                .Product__details--category-label
                  %label カテゴリー
                  = f.collection_select :send_from, CategoryForm.all, :id, :name
                  %span 必須
              .Product__details--brand-inputbase
                .Product__details--brand-label
                  %label ブランド
                  %span 任意
                .Product__details--input
                  %input{:autocomplete => "off", :name => "brandName", :placeholder => "", :type => "text", :value => ""}/
              .Product__details--condition-selectbase
                %div{:name => "itemCondition"}
                  .Product__details--condition-label
                    %label 商品の状態
                    = f.collection_select :status, Status.all, :id, :name
                    %span 必須
          %hr.Borderline
            .Delivery
              %p.Delivery__label 配送について
              .Delivery__select-field
                %div{:name => "shippingPayer"}
                  .Delivery__fee--label
                    %label 配送料の負担
                    = f.collection_select :shipping_expenses, ShippingExpenses.all, :id, :name
                    %span 必須
              .Delivery__area--select-field
                %div{:name => "shippingFromArea"}
                  .Delivery__area--label
                    %label 発送元の地域
                    = f.collection_select :send_from, Prefecture.all, :id, :name
                    %span 必須
            .Shipping-days
              .Shipping-days__label
                %label 発送までの日数
                = f.collection_select :lead_time, LeadTime.all, :id, :name
                %span 必須
          .Price
            %p.Price__range 価格（¥300〜9,999,999
            .Price__fields
              .Price__selling-price--field
                .Price__selling-price--label
                  %label 販売価格
                  %span.Price__yen-mark ¥
                  = f.text_field :price
                  %span 必須
              .Sales-fee{"data-test" => "fee-label"}
                %div 販売手数料（10%）
              .Sales-profit__field
                .Sales-profit__label 販売利益
                %span{"data-test" => "total-value"} —
          .Editend-buttons
            = f.submit '出品する'
            %button.draft-butto{:tabindex => "0", :type => "button"} 下書きに保存
            %a.return-link{:href => "/jp/"} もどる