
.Wrapper
  .Top
    = render "header"
  .Body
    .Main
      .Product
        .Product__form
          %h1.Product__name
            =@product.name
          .Product__descriptionbox
            .photo__box
              %ul.photo__innner
                %li
                  = image_tag @product.product_images.first.image.url, class: "main__image"
                  %ul
                    -@product.product_images.each do |image|
                      %li
                        =image_tag image.image.url, class: "image__list"
                        
          .Product__price
            ¥
            %span=@product.price
            .Product__price__description
              %span（税込）
              %span (送料込み)
          .Product-description__box
            =@product.description
          .Product-description__main
            %table.Product-description__table
              %tbody
                %tr
                  %th 出品者
                  %td
                %tr
                  %th カテゴリー
                  %td 
                    =@product.category.name  
                %tr
                  %th ブランド
                  %td 
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 
                    =@product.status
                %tr
                  %th 配送料の負担
                  %td
                    =@product.shipping_expenses
                %tr
                  %th 配送元地域
                  %td
                    =@product.send_from
                %tr
                  %th 発送の目安
                  %td 
                    =@product.lead_time
                       

  .footer
    - if user_signed_in? && current_user.id == @product.user_id
      = link_to "削除する", product_path(@product.id), method: :delete,class:"product-details-delete__btn"
      = link_to "編集する", edit_product_path(@product.id),class:"product-details-edit__btn"
    - if user_signed_in? && current_user.id != @product.user_id
      = link_to "購入する", buy_product_path, method: :get,class:"product-details-buy__btn" 
    