.Wrapper
  .Top
    = render "header"
  .Body
    .Main
      .Box
        .Product-details__form
          %h1.Product-name
            =@product.name
          .Item-descriptionbox
            .Item-descriptionbox__image
              -# %ul
              -#   %li
              -# - @products.each do |product|
                -product.product_images.each do |image|
                  = image_tag image.image.url
                  %ul
                    %li
                  %ul
                    %li
                  %ul
                    %li
                  %ul
                    %li                              
              -@product.product_images.each do |image|
                =image_tag image.image.url

          .Product-price
            ¥
            %span=@product.price
            .Product-price__description
              %span（税込）
              %span (送料込み)

          .Product-description__box
            =@product.description
          .Product-description__main
            %table.Product-description__table
              %tbody
                %tr
                  %th 出品者
                  %td
                %tr
                  %th カテゴリー
                  %td 
                    =@product.category.name  
                %tr
                  %th ブランド
                  %td 
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 
                    =@product.status
                %tr
                  %th 配送料の負担
                  %td
                    =@product.shipping_expenses
                %tr
                  %th 配送元地域
                  %td
                    =@product.send_from
                %tr
                  %th 発送の目安
                  %td 
                    =@product.lead_time

  .footer                  


#show
  - if user_signed_in? && current_user.id == @product.user_id
    = link_to "削除する", product_path(@product.id), method: :delete,class:"product-details-delete__btn"
    = link_to "編集する", edit_product_path(@product.id),class:"product-details-edit__btn"

  - if user_signed_in? && current_user.id != @product.user_id
    = link_to "購入する", product_path(@product.id), method: :delete,class:"product-details-delete__btn"
