//商品詳細ページ
= @product.name
- @product.product_images.each do |image|
  = image_tag image.image.url
= @product.price
= @product.description
= @product.category.name
= @product.status
= @product.shipping_expenses
= @product.send_from
= @product.lead_time