//商品詳細ページ
.Wrapper
  .body
    .box
      = @product.name
      .name
      - @product.product_images.each do |image|
        = image_tag image.image.url
      %br/
      = @product.price
      .price
      %br/
      = @product.description
      %br/
      .table
        .tbody
          %tr
            %th カテゴリー
              = @product.category.name  
          %td
          %br/
          %tr
            %th 商品の状態
          %td
            = @product.status
          %br/
          %tr
            %th 配送料の負担
              = @product.shipping_expenses
          %td
          %br/
          %tr
            %th 配送元の地域
              = @product.send_from
          %td
          %br/
          %tr
            %th 配送日の目安
              = @product.lead_time
          %td