//商品詳細ページ
= @product.name
= @product.price
= @product.category.name
- @product.product_images.each do |image|
  = image_tag image.image.url

#show
  - if user_signed_in? && current_user.id == @product.user_id
    = link_to "削除する", product_path(@product.id), method: :delete,class:"product-details-delete__btn"
    = link_to "編集する", edit_product_path(@product.id),class:"product-details-edit__btn"

  - if user_signed_in? && current_user.id != @product.user_id
    = link_to "購入する", product_path(@product.id), method: :delete,class:"product-details-delete__btn"